.orbWrapperInternal {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 1500px;
    height: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .orbSvg {
    width: 100%;
    height: 100%;
    display: block;
    will-change: transform;
    backface-visibility: hidden;
    transform: translateZ(0);
  }
  
